<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% block title %}Дефолтный тайтл{% endblock %}</title>


	
	 <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}">
	 <link rel="stylesheet" href="{{ asset('css/bootstrap-theme.css') }}">
	 <link rel="stylesheet" href="{{ asset('css/bootstrap-slider.css') }}">
	 <link rel="stylesheet" href="{{ asset('css/style.css') }}">
	 <link rel="stylesheet" href="{{ asset('css/style_migrate.css') }}">
	 <link rel="stylesheet" href="{{ asset('css/fancybox/jquery.fancybox.css') }}">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-inverse navbar-static-top" role="navigation">
        <div class="container header-volna" style="padding-top:30px;">
            <a  href="{{path('homepage')}}"><img style=" margin-top:-25px; max-width:100%" src="{{asset('images/template/logo.png')}}" alt=""></a>
			<a class="navbar-brand center hidden-xs" href="tel:84952223344">8 (495) <span style="font-size:150%">649-83-71</span></a>
			<a class="navbar-brand navbar-right hidden-xs" href="{{path('page_small',{'first':'contacts'})}}">Контакты</a>

        </div>
        <!-- /.container -->
        <div class="container ">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <a class="navbar-brand center visible-xs" href="tel:84952223344">8 (495) <span style="font-size:150%">649-83-71</span></a>
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
			
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="{{path('cruise')}}" class="dropdown-toggle" data-toggle="dropdown">Поиск круиза</a>
						{{ render(controller('BaseBundle:Cruise:monthMenu')) }}
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Спецпредложения<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="{{path('specialoffer',{'offer':'burningcruise'})}}">«Горящие» круизы</a>
                            </li>
                            <li>
                                <a href="{{path('specialoffer',{'offer':'reductionprice'})}}">Снижение цен</a>
                            </li>
                            <li>
                                <a href="{{path('specialoffer',{'offer':'specialoffer'})}}">Специальные тарифы</a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Теплоходы<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="{{path('classlist')}}">По комфортабельности</a>
                            </li>
                            <li>
                                <a href="{{path('alphabetlist')}}">По алфавиту</a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Информация<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="{{path('cruiseorder')}}">Бронь и покупка</a>
                            </li>
                            <li class="dropdown-submenu">
                               <a href="{{path('page_small',{'first':'map'})}}" >Карта круизов</a>
							   <ul class="dropdown-menu">
								<li>
									<a href="{{path('showDocuments',{'first':'cruise','second':'settlement'} )}}">Порты и причалы</a>
								</li>
								<li>
									<a href="{{path('showDocuments',{'first':'cruise','second':'river'} )}}">Реки и озёра</a>
								</li>
							   </ul>
                            </li>
                            <li>
                                <a href="{{path('page_small',{'first':'remember'})}}">Памятка туриста</a>
                            </li>
                            <li>
                                <a href="{{path('page_small',{'first':'faq'})}}">Вопросы и ответы</a>
                            </li>
                            <li>
                                <a href="{{path('cruiseroutes')}}">Описания круизов</a>
                            </li>
                            <li>
                                <a href="{{path('page_small',{'first':'river-fleet'})}}">Речной флот</a>
                            </li>
                        </ul>
                    </li>

                    <li>
                        <a href="#">Агенствам</a>
                    </li>
                    <li>
                        <a href="#">О компании</a>
                    </li>
                    <li class="visible-xs">
                        <a  href="{{path('page_small',{'first':'contacts'})}}">Контакты</a>
                    </li>					
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

{% block carousel%}{% endblock %}

<div class="container-fluid container-search">
	<div class="container">
		<div class="row">

			<div class="col-sm-12">					

			{{ render(controller('BaseBundle:Cruise:searchForm')) }}

			</div>			

		</div>
	</div>	
</div>

	<div class="container">
		<div class="row">
		
			<div class="col-sm-12">					
			{% block body %}
				Block body
			{% endblock %}	
			</div>
		</div>
	</div>	
<br>

<div class="footer">
          <div class="container ">
			<div class="row">
				<div class="col-sm-12">
				1997-2015 ВАШЕ РЕЧНОЕ АГЕНТСТВО<br>
				Москва, Москва,  ул.Никольская, д 4/5, офис 403. Телефон +7 (495) 649-83-71 E-mail: <a href="mailto:info@rech-agent.ru">info@rech-agent.ru</a> <br>
				Информация на сайте не является публичной офёртой и носит информационный характер. 
				</div>
			</div>
		  </div>
</div>


    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>	
	<!-- Latest compiled and minified JavaScript -->
	<script src="{{ asset('js/bootstrap.js') }}"></script>
	<script src="{{ asset('js/bootstrap-slider.js') }}"></script>
	<script src="{{ asset('js/jquery.fancybox.js') }}"></script>

    <!-- Script to Activate the Carousel -->
    <script>
	$(document).ready(function(){
		$('.carousel').carousel({
			interval: 5000 //changes the speed
		})
		$("#form_days").slider({});
		$('.photo').fancybox();
	});
	 
    </script>

</body>

</html>
